{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf"
}